.change-password-page>form {
    gap: 10px;
    width: 60%;
}

.change-password-page .change-password-btn {
    margin-top: 5px;
    height: 35px;
}

.change-password-page .message {
    padding: 0;
    margin: 0;
    font-size: 12px;
}