.loading-page {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.loading-page .loader {
    color: white;
    animation: 1s ease infinite loader-keyframes;
}

@keyframes loader-keyframes {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}