.input {
    display: flex;
    flex-direction: column;
}

.input input {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    line-height: 35px;
    padding: 0px 20px;
}

.input input:focus {
    outline: 1px solid rgba(255, 255, 255, 0.5);
}

.input>p {
    color: red;
    font-size: 12px;
    padding: 0;
    margin: 0;
}