.background {
    background-image: linear-gradient(#000139, #87E9FF);
    /* background: linear-gradient(-45deg, #1e3a8a, #3b82f6, #6366f1, #60a5fa);
    background-size: 400% 400%;
    animation: gradientFlow 2s ease infinite; */
}

.glassmorphism {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.center {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.link {
    color: rgb(0, 234, 255);
    text-decoration: underline;
}

.warning {
    color: red;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.title {
    color: #122053;
    font-size: 18px;
    font-weight: 600;
}

.dropdown {
    width: fit-content;
    border-radius: 20px;
    padding: 10px 20px;
}

.dropdown::picker {
    margin-right: 20px;
}